openapi: 3.0.1
info:
  description: MasterCom
  title: MasterCom
  version: v6
  x-artifactId: mastercom
  x-test-on-environment:
    environment: SANDBOX
servers:
- url: https://api.mastercard.com/mastercom
paths:
  /v6/cases:
    post:
      description: |-
        Issuer or acquirers use this endpoint to file a pre-arbitration, arbitration, pre-compliance, or compliance case and optionally upload documents. Issuers and acquirers also have the option to use the endpoint to create an Expedited Billing Dispute Form (EBDF) and attach it to the claim.

         Note: issuers or acquirers should not attach documents while requesting the automatic generation of the EBDF. Therefore, if issuers or acquirers need to submit the EBDF with additional documentation, they must complete the EBDF and include it in a ZIP file with any additional documentation.
      operationId: createCaseFiling
      requestBody:
        content:
          application/json:
            examples:
              Create Case Pre-arbitration:
                $ref: '#/components/examples/CreateCaseType1'
              Create Case Arbitration:
                $ref: '#/components/examples/CreateCaseType2'
              Create Case Pre-compliance:
                $ref: '#/components/examples/CreateCaseType3'
              Create Case Compliance:
                $ref: '#/components/examples/CreateCaseType4'
              Create Case EBDF Doc:
                $ref: '#/components/examples/CreateCaseEBDFDocRequest'
              Create Case File Attachment:
                $ref: '#/components/examples/CreateCaseFileAttachmentRequest'
            schema:
              $ref: '#/components/schemas/CreateCaseRequest'
        description: Create Case Filing information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Case Filing
      x-testable: false
      x-action: Create
      x-samples:
      - name: create_case_sample
        ignoreAsserts:
        - timestamp
        request:
          application/json: "{  \"caseType\": \"4\", \"chargebackRefNum\":[\"1111423456\"\
            , \"2222123456\"], \"customerFilingNumber\": \"5482\", \"violationCode\"\
            : \"D.2\", \"violationDate\": \"2017-11-13\", \"disputeAmount\": \"200.00\"\
            ,\"currencyCode\" : \"USD\",  \"fileAttachment\" : {  \"filename\" : \"\
            test.tif\",  \"file\": \"sample file\" },  \"filedAgainstIca\": \"004321\"\
            ,  \"filingAs\": \"A\",  \"filingIca\": \"001234\",  \"memo\": \"This\
            \ is a test memo\" , \"messageText\": \"This is a test message\" , \"\
            changeReasonCodeFlag\": \"Y\" , \"updatedChargebackReasonCode\": \"4863\"\
            \ , \"changeReasonCodeReason\": \"This is a test reason\"   }"
        response:
          application/json: "{\"caseId\": 536092}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/cases/{case-id}:
    put:
      description: "Issuers or acquirers use this endpoint to take action (accept,\
        \ reject, rebut, escalate, withdraw) on a case filing. Issuers and acquirers\
        \ may take action with or without attaching documents."
      operationId: updateCaseFiling
      parameters:
      - description: |-
          Case filing Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "536092"
        explode: false
        in: path
        name: case-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update Case actions with no doc:
                $ref: '#/components/examples/UpdateCaseNoFile'
              Update Case actions with doc:
                $ref: '#/components/examples/UpdateCaseFileAttachment'
            schema:
              $ref: '#/components/schemas/UpdateCaseRequest'
        description: Update Case Filing information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Case Filing
      x-testable: false
      x-action: Update
      x-samples:
      - name: update_case_sample
        request:
          application/json: "{  \"case-id\": \"536092\", \"fileAttachment\" : {  \"\
            filename\" : \"test.tif\",  \"file\": \"sample file\" },  \"action\":\
            \ \"REJECT\",  \"memo\": \"This is a test memo\"   }"
        response:
          application/json: "{  \"caseId\": 536092}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/cases/{case-id}/documents:
    get:
      description: |-
        Issuers and acquirers use this endpoint to retrieve all documents in a desired format associated with a case.

         Note: this endpoint returns all documents that either party has submitted for the case.
      operationId: getCaseFilingDoc
      parameters:
      - description: |-
          The case filing id.

           Length: 0-19

           Valid Values/Format: Numeric
        example: "536092"
        explode: false
        in: path
        name: case-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          File Format.

           Length: 8-11

           Valid Values/Format: ORIGINAL, MERGED_TIFF, MERGED_PDF
        example: ORIGINAL
        explode: true
        in: query
        name: format
        required: true
        schema:
          enum:
          - ORIGINAL
          - MERGED_TIFF
          - MERGED_PDF
          type: string
        style: form
      - description: "Adding field for future use. Please leave blank at this time.\n\
          \n Length: N/A \n\n Valid Values/Format: Alphanumeric"
        example: Memo
        explode: true
        in: query
        name: memo
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseStructure'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Case Filing
      x-testable: false
      x-action: Retrieve Documentation
      x-samples:
      - name: retrieve_case_doc_sample
        request:
          application/json: "{  \"format\": \"ORIGINAL\",  \"case-id\": \"536092\"\
            }"
        response:
          application/json: "{\"fileAttachment\" : {  \"filename\" : \"CS_536092.zip\"\
            ,  \"file\": \"UEsDBBQAAAAIAFqJLExsuevPiCkAAPjiAAASAAAAdGVzdEltYWdlX2dyZXkudGlm7Fx5WFPXtt8hzIQhjI4YI4hcCQEkDJFBSBCpBJFRvILNcAjRJCckJ4DU2VLUSkWcW6m2Sq2t2mqdJ5xtVUSccEJFxRnUOl1H3j4nCbM+8t6773vf986P7+SsvfZa67f2Pnuvc/7ZxMX9A1gCAFzAB2AKKEAPCpWQX1pBUS/fpgFgopdxD6peNoOXuV7GLzrFFPSHd2vYcGyjd2kju+rlbHi56e2/gYpeFDNC72gCQG+93AvKg/T2UAT+FBPAhHcmbARA2RnKfCiHt7HZY0IBkiAAxsBG3FcUMBPmvicEAFmxbownbwKgKbYApVQAImJ0Qz41Av4IYMzRAEhSAViSAcCfmQC8EQLgAxNVqQGgTYf2X0J5NgA/zgPgXCkc+2IAQpYDMKEcgBU/wDgVMM4vMM5GGGczjLMNxtkF4+yDcQ4BkHUMgNITABysBuD5WQAGXoR5XgVg7g3oY/rxiwfHsMJWJ/+7rig4X/uPsoCDV+s9SoKKEEZiDoqhmhxUxeDxGAF+/oGMQekypQTN13gD2Azh+vlz/QMY/kO4/n5cjh8IiyxQCcUTEYwhQqQyZTjz8e5KJkMmCWemcwR+AhUPyZGNKFQjyYUJKeLCieJQCTMywjqsgFugUCkQTMgoUMiVGm5BOFOI83OhjKvZTAZhgk0MZ+oSGyNIZPBQNcLg+AaxxHhiwaG+/pyg4NBgHyJRtl8IO8CP5RfK5Qzh+gUw9GBGWMPfMLUkm5vEH66ng61wZg6Gqbhsdn5+vm/+EF9ULWX7h4aGsv0C2AEBLGjB0kxSYsICllIzQBfEEIePaMRqmQqToUoG3haKUC0WzmRaM9pAPy6FqoVIqfElxugrRhXsAqGK7e/rx+7KSSJu8VFp1XIiNYmYjcgRBaLENNDPn/0RMoHg03QKRZeeGiwmD/u0pyZlkgphJyEaVKsWIzF5MJMBXYVSGRZQ1+FaunWjj2iNEAbT5/LUiBBD1SkoKo/4TxdkGLujS1fRED68IvC1y/LzZ/kHpBjWLssviOvnF8buYNkhhgCuRokQE3YnSjvbjnFQiSx7UreitFq2iSERc7NRtUKIRcgUQinCxmTZ2WHsVm17OoGAG6fUYEKlGInjR0CFr0wmgQyIeEgAImLBdR7MCggNzGaJOJxAVqgoJChI6B8oGhLoH8bu5N4pNB8Va/GlqA8tMTJ0G/dOoUepZbCMCOX/TYouwnSiGiHTwHUzKaK1w7DBk5Hc9lpDh1xGbHiVUK1B8P0QzjRsCGYnB9yH2FdcoRgvFRFiYo1JwtjttB93k/1XH2An949z5Ocgyk+txzZWHw+iQbOxfKEaiZLCme7Otu3KrdN8s3UT3uHxsDs/nzD2x55nWEu14fJQOaqGOwuJgBPUlbpLrzgeL1GNZsvkSAQfxRixQpkSDsYzjN2lieEdwe7wktC9gdj6VxB8+7FbXn9E178dJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEbh/zxJt0GSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFP6fkFi3HihDlJJwZj4zMiIkOk5g6kkc3nMAHUD0cQmxQd+vO9xoo1LLlNgoLabSYvrTiyBRgyWLUFROWMQpMQRRahUGGb/z5Gq8bU/4JssKcItoGYb7tMZE1AlCBZISMyalhUznkKhG0exkBNOqRokmiKGaBhKBGqDwLxswQDJAAAa0QEW4WKtarA1houWYUp8RTaSVyTGZkggJ21aENU+QMVI34qG4vQmr3Ygd24x4FHHwQIMfuyTGpcKUhkHAQYrULY0kqUbQ2qNW8lobSqy1ES+Sa1oaCVIsr6URo5DzWxpwHltDR4snSvUToT9vmhQbzcNPlBKyhMGQoFrRMPQGMCBWreyki5Z3totWS1JSldjwAUlyDLRBtFzC6EqfpJFjhD6xQD5Mvd+gts5DxBiq5gsxYcuqSJQmavTPgJD1dzxtEI9kY12FT0FVXdImi+U6faJaPCyjRe0gVqOq9BxEmYg/L5lSapgxO7wjCeYUjWIYqpCjSqnehWbowVNoo7c16JNk0py2HTaGDphbixpfOdRGXQ4UH+KxUAx3YlUNJPrsWkcQOV2/w2yJpim8xhLtni1tdyLqM6JtZfCjEF5eut1qbXj8Ohbqc0J2BBzCEF/D5m16XxFyHwCauwT1nj4jS904dIvLZJju0ve5t2Sna/fCJSqnhYkA7TZM+GVLwp3RRmf1Umf/UYMWtG5HoNTK5fpzyuYiVKuUaDrsBjHmb0gTX0JtHh/o8JxBdMt60KWR1PK4iSGYa+QyMaJJk8fjC5bSjseM6CNmHAALohHHbxPbQqpGtap2KnOUOD5nqEUxybiT7kgdvuiEWgyNRZSIGj/ORmQ/SWUopdY6Y1yD98QppIz/hfFTtWp5u4JMTH57jUAjbV+0zYVyLEUobaezEyPQDynA4jQjUgTxhrJgaVC3M7bKQdWFUXKZ1DBT9rrBjzCo8dmVINlCLVEXrPIQNdaFeZpB3d7cRiQlTqe1mVy6ziE6tqUDTyMBVeJ3KwxVweKvQdpOnLUcTmQnLU1EFJhOehs1XkY6qIkdNEjnhy/nyCegVe8MgP4RmhBtGtHM1k/RZHitgiIczj1YSUw/Az0ApflicyOgEacEx/MEsN0E7IgWkEzH/ZqvgC8BzdLS0sqSZmVFo9tY29Bd7Gk0e5ceTk4uTk496DQCdNonQLG1sbG1s3Wws3NwtrOzc8Z/7Jx1LvTuBGjeD+iWMPnJVAoTmNApVDqluQ4O1LL5MCUSZmlGIaCfOCqgmJiamVtYWlnbUDp2UoAJ1dDpACimFKqJqYmZhbmlGZU2BHbSqab9Hf3NokYLnZi5MwLMnRf8sCl6gIdL0gHRkED1zBqehWdZ8pP6p2INx/XHzbMG8hemSGIOrsaC3M6k3kT+/uPLQ2e1t54N91q0pmjL4sPnbj+v2HrkfMOLtOy8r5b8tO3ohTsvg2PTpfnFS9duP1Z79xUdmJjAbE2JnCzMzThECv39HU1hBrlMJ7OAGQuc8QwOJNU8GeIhqlfPLOMlu4g1gU89zfEELAZyDp6BSax2k8SkBmHIzZYUPp6BV2sKzZcBjUpw0kEkeBHkv3jT1gunj/qZb93gAHpxNuQkxXksWlMW5+ntURb3WZxHWVJZB0Vy8+kXKZ8yIBTNoLmm1Yy378297Lde8q/ejs1c5xcxXc0UURz48wMX1fblmV54GJ4n/9zuizXD7N745jetyygvHq2R79zg4/c6MvbywynNYOejjYd5Ai9s01pVcQ7H3W7E2bg6zpamkjPmvweVXL8UN6IyR+jwt69Qkbt3/71gN86+x6uf/1qIXs4Mswp1mdF7ji/d3bNHauIyMf/B57baxW63xBd5K5P7RJk6WjBCV3/4+mpZGafqC95l3rf1rAGJUU3lfsCyF2V/QtkiOJQKOADv5jPdG/PZ7pmd657Z+e6ZXeieWW33zLr5dC8RFac/sccy8X2Gbzh7EAUk8INbBD+2GfDzOwfKGLw0hKQiPog/bcEAPPjHAAHAD/iDQH0po5ZG8aNjTBzw/w+CqWOTojLGZIxlWFTDLwqqbpsLxRpVVGJiPC4rdSW5LWCQlxd0L46zLDwWMA5mYkgM7/jXa4AE0eAvUvxLSpqPqaCeMg7KzqKJhIwP03liShL8aqV8CUszDYOvLjwID1VNImo8A/9XFwzdUe3kSRoMUWgYcUoxqlahhre6ngOHbdvDz+B/GPg84ve289Oqa4VYq84jBJ2RA3xEfmAYfIBCMA0W6iPgEcWNwqdoKT9Trpm4miSZlJqcpjpRM6g/UB+ZhprONr1s5mtWZHbNPNR8iflLi3SL3ZZMy7mWz62EVqeto6y32HjbrKL1oi22dbQts3OyW2Lfx361g4/DDnoM/Zwj4vgvpxJnD+e9Lukuz13L3ALczvUo6One82gvtHfv3n/2yevr1fey+zf9+P3eMbb2z2X6MhsHbPBQeQZ6vh54wGvuoFRvpveTf+wfXOaDsLi+dN8H7MN+q/ynBIwbEh7Yj0Pl3A86HbwzZE1oKXfqUEVYVvjoiJjIocOGRPlED+Qx+YyYfsMZsQNGeMWxPgscGRYfK0hO+HwUmjht9IKkiuRdKTWp99NNxrhncMeO+WfBuOWZe7JufG4uZInSxNMl65FLUsucEJlsQvnEGoWFMhItUG3ObdIMxiZof8l7VMCehBXumkyZ8tnUxdPqZ/jOnDyrqsj9q9ziI3N6z1V/faLE85sZ8+sWhJV9t/D94vFLDi0btHz+t69WfF5+YmXwqoofnVcXrXn5k2zttXUpv5xYz9+w77fQ37dtDvxjy9bAbdt3cHdW7o7ZU7UvrfLGAfnB14eLj7od+/mvocdPnRRXvakuqxl85sg54fkPtSsuhV2uuzrt2oDrf9Yrb7nerrwju+d8/8BDtLFf0+knM//mPHvwYtWr9NcOb46/K/oQ1dw8PXK/Q4iHq63Fl9HCxB2SoL72s/mi0SFr0lhu84aLR++4nRfer3SEJCnUY4nAa9FnSNJOybZM9rL47OTQNRcUwSsSpMk7b7+cErkqMSeF6+laErtq/zrnXUhQ+aifUyakcivSNqSvT5uYuqshb+/438fI04Z6LqlKq8hoTNuNbKtDd4xTpg+tuNCYvycLTd/d8PL9pC3Xn4wJG+hmW3xYlDtmT3Zw3/l/StQZoRcsvJeezNZk7LmTH77ydA42NnzgUoHtCdmLsXuzt2f+dlGe98/wn2oV21\"\
            } }"
      x-accepts: application/json
  /v6/cases/status:
    put:
      description: |-
        Issuers and acquirers use this endpoint to search for the status of documents of a specific list of cases.

         Note: issuers and acquirers may send a maximum of 2,000 case IDs within a single request.
      operationId: retrieveCaseFilingStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseFilingStatusRequest'
        description: Case Filing information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilingStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Case Filing
      x-testable: false
      x-action: Case Filing Status
      x-samples:
      - name: case_filing_status_sample
        request:
          application/json: "{\"caseFilingList\" : [ {\"caseId\": \"536092\"}]}"
        response:
          application/json: "{\"caseFilingResponseList\" : [ {\"caseId\": \"536092\"\
            , \"status\": \"COMPLETED_SND_10/10/2019 8:43:21 AM\"}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/cases/imagestatus:
    put:
      description: |-
        Issuers and acquirers use this endpoint to search documents that have a specific status (completed, pending, failed, unavailable, and document not applicable) for case filings.

         Note: For customers with high volumes of chargebacks or large numbers of BINs, Mastercom recommends using the Case Filing Status endpoint rather than the Case Filing Image Status endpoint.
      operationId: retrieveCaseFilingImageStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseFilingImageStatusRequest'
        description: Case Filing information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseFilingImageStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Case Filing
      x-testable: false
      x-action: Case Filing Image Status
      x-samples:
      - name: case_filing_image_status_sample
        request:
          application/json: "{\"status\" : \"COMPLETED\", \"startDate\" : \"2018-10-01\"\
            , \"endDate\" : \"2018-10-30\"}"
        response:
          application/json: "{\"caseFilingImageStatusList\" : [ {\"caseId\": \"536092\"\
            , \"status\": \"COMPLETED\"}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/loaddataforchargebacks:
    post:
      description: "Issuers and acquirers use this endpoint to obtain information\
        \ about a potential first chargeback or second presentment prior to creating\
        \ the chargeback. If the issuer or acquirer decides to create the chargeback,\
        \ the issuer or acquirer should use the Create endpoint for chargebacks."
      operationId: getDataForCreateChargeback
      parameters:
      - description: |-
          Claim Id for the chargeback to be created.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadDataForChargebacksRequest'
        description: "The type of chargeback.  The following values are valid...CHARGEBACK,\
          \ SECOND_PRESENTMENT.  The default value is CHARGEBACK."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadDataForChargebackResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks
      x-testable: false
      x-action: Get possible value lists for create
      x-samples:
      - name: get_data_for_create_chargeback_sample
        request:
          application/json: "{  \"claim-id\": \"200002020654\", \"chargebackType\"\
            : \"CHARGEBACK\",\"reasonCode\":\"4853\",\"currency\":\"USD\"}"
        response:
          application/json: "{\"currencies\":[{\"name\": \"USD\", \"value\": \"USD\"\
            \ }],\"docIndicators\":[{\"name\": \"1\", \"value\": \"1 - Supporting\
            \ documentation will follow\" }],\"messageTexts\":[{\"name\": \"CARD NOT\
            \ VALID OR EXPIRED\", \"value\": \"CARD NOT VALID OR EXPIRED\" }],  \"\
            reasonCodes\":[{\"name\": \"4831\", \"value\": \"4831 - Transaction Amount\
            \ Differs\" }],\"amount\": {\"name\": \"USD\", \"value\": \"64.13\"}}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks:
    post:
      description: |-
        Issuers and acquirers use this endpoint to create chargebacks and second presentments and optionally to upload supporting documents. Issuers and acquirers may use the parameters in the request to automatically generate the Expedited Billing Dispute Form (EBDF) and attach it to the claim.

         Note: issuers should not attach documents while requesting the automatic generation of the EBDF. Therefore, if issuers need to submit the EBDF with additional documentation, they must complete the EBDF and include it in a ZIP file with any additional documentation.

         Note: If the API call to this endpoint times out, customers should use the Chargeback Status or Retrieve Claim endpoint to determine the success or failure of document processing.
      operationId: createChargeback
      parameters:
      - description: |-
          Claim Id where the chargeback will be added

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Create First Chargeback:
                $ref: '#/components/examples/CreateCBChargeback'
              Create Second Presentment:
                $ref: '#/components/examples/CreateCBSecondPresentment'
              Create with EBDF Docs:
                $ref: '#/components/examples/CreateCBEbdfDocs'
              Create with fileAttachment:
                $ref: '#/components/examples/CreateCBFileAttachment'
            schema:
              $ref: '#/components/schemas/CreateChargebackRequest'
        description: Create Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackResponse'
          description: OK
      tags:
      - Chargebacks
      x-testable: false
      x-action: Create
      x-samples:
      - name: create_chargeback_sample
        request:
          application/json: "{  \"claim-id\": \"12344\", \"currency\": \"USD\", \"\
            documentIndicator\": \"true\", \"messageText\": \"test message\", \"amount\"\
            : \"100.00\",  \"fileAttachment\" : {  \"filename\" : \"test.tif\",  \"\
            file\": \"sample file\" },  \"reasonCode\": \"4853\",  \"chargebackType\"\
            : \"CHARGEBACK\", \"editExclusionCode\": \"BO\", \"refundNotReceivedIndicator\"\
            : \"false\", \"includeCurrencyConversionAssessmentCCA\": \"false\" }"
        response:
          application/json: "{\"chargebackId\": \"300002063556\" }"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/{chargeback-id}/reversal:
    post:
      description: |-
        Issuers and acquirers use this endpoint to reverse an existing chargeback when they create a chargeback in error.

         Note: issuers and acquirers may only create reversals on chargebacks after the chargebacks are processed by the Global Clearing Management System (GCMS).
      operationId: createChargebackReversal
      parameters:
      - description: |-
          Claim Id for the chargeback.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Chargeback Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "300018439680"
        explode: false
        in: path
        name: chargeback-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackResponse'
          description: OK
      tags:
      - Chargebacks
      x-testable: false
      x-action: Create Reversal
      x-samples:
      - name: create_chargeback_reversal_sample
        request:
          application/json: "{  \"claim-id\": \"12344\", \"chargeback-id\": \"300002063556\"\
            }"
        response:
          application/json: "{\"chargebackId\": \"300002063556\" }"
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/{chargeback-id}:
    put:
      description: |-
        Issuers and acquirers use this endpoint to update an existing chargeback with memos or documents if they did not attach memos or documents when creating the chargeback.

         Note: If the API call to this endpoint times out, customers should use the Chargeback Status or Retrieve Claim endpoint to determine the success or failure of document processing.
      operationId: updateChargeback
      parameters:
      - description: |-
          Claim Id for the chargeback.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Chargeback Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "300018439680"
        explode: false
        in: path
        name: chargeback-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update with File Attachment:
                $ref: '#/components/examples/UpdateChargebackFile'
              Update with Credit Voucher:
                $ref: '#/components/examples/UpdateChargebackVoucher'
            schema:
              $ref: '#/components/schemas/UpdateChargebackRequest'
        description: Update Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks
      x-testable: false
      x-action: Update
      x-samples:
      - name: update_chargeback_sample
        request:
          application/json: "{  \"claim-id\": \"12344\", \"chargeback-id\": \"300002063556\"\
            , \"memo\": \"This is a test memo\", \"fileAttachment\" : {  \"filename\"\
            \ : \"test.tif\",  \"file\": \"sample file\" }}"
        response:
          application/json: "{\"chargebackId\": \"300002063556\" }"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/{chargeback-id}/documents:
    get:
      description: Issuers and acquirers use this endpoint to retrieve documents in
        a desired format associated with any type of chargeback.
      operationId: getChargebackDoc
      parameters:
      - description: |-
          Claim Id for the chargeback.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Chargeback Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "300018439680"
        explode: false
        in: path
        name: chargeback-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          File Format.

           Length: 8-11

           Valid Values/Format: ORIGINAL, MERGED_TIFF, MERGED_PDF
        example: ORIGINAL
        explode: true
        in: query
        name: format
        required: true
        schema:
          enum:
          - ORIGINAL
          - MERGED_TIFF
          - MERGED_PDF
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseStructure'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks
      x-testable: false
      x-action: Retrieve Documentation
      x-samples:
      - name: retrieve_chargeback_doc_sample
        request:
          application/json: "{  \"format\": \"ORIGINAL\",  \"claim-id\": \"1234\"\
            ,  \"chargeback-id\": \"92344\"}"
        response:
          application/json: "{\"fileAttachment\" : {  \"filename\" : \"CB_92344.zip\"\
            ,  \"file\": \"UEsDBBQAAAAIAFqJLExsuevPiCkAAPjiAAASAAAAdGVzdEltYWdlX2dyZXkudGlm7Fx5WFPXtt8hzIQhjI4YI4hcCQEkDJFBSBCpBJFRvILNcAjRJCckJ4DU2VLUSkWcW6m2Sq2t2mqdJ5xtVUSccEJFxRnUOl1H3j4nCbM+8t6773vf986P7+SsvfZa67f2Pnuvc/7ZxMX9A1gCAFzAB2AKKEAPCpWQX1pBUS/fpgFgopdxD6peNoOXuV7GLzrFFPSHd2vYcGyjd2kju+rlbHi56e2/gYpeFDNC72gCQG+93AvKg/T2UAT+FBPAhHcmbARA2RnKfCiHt7HZY0IBkiAAxsBG3FcUMBPmvicEAFmxbownbwKgKbYApVQAImJ0Qz41Av4IYMzRAEhSAViSAcCfmQC8EQLgAxNVqQGgTYf2X0J5NgA/zgPgXCkc+2IAQpYDMKEcgBU/wDgVMM4vMM5GGGczjLMNxtkF4+yDcQ4BkHUMgNITABysBuD5WQAGXoR5XgVg7g3oY/rxiwfHsMJWJ/+7rig4X/uPsoCDV+s9SoKKEEZiDoqhmhxUxeDxGAF+/oGMQekypQTN13gD2Azh+vlz/QMY/kO4/n5cjh8IiyxQCcUTEYwhQqQyZTjz8e5KJkMmCWemcwR+AhUPyZGNKFQjyYUJKeLCieJQCTMywjqsgFugUCkQTMgoUMiVGm5BOFOI83OhjKvZTAZhgk0MZ+oSGyNIZPBQNcLg+AaxxHhiwaG+/pyg4NBgHyJRtl8IO8CP5RfK5Qzh+gUw9GBGWMPfMLUkm5vEH66ng61wZg6Gqbhsdn5+vm/+EF9ULWX7h4aGsv0C2AEBLGjB0kxSYsICllIzQBfEEIePaMRqmQqToUoG3haKUC0WzmRaM9pAPy6FqoVIqfElxugrRhXsAqGK7e/rx+7KSSJu8VFp1XIiNYmYjcgRBaLENNDPn/0RMoHg03QKRZeeGiwmD/u0pyZlkgphJyEaVKsWIzF5MJMBXYVSGRZQ1+FaunWjj2iNEAbT5/LUiBBD1SkoKo/4TxdkGLujS1fRED68IvC1y/LzZ/kHpBjWLssviOvnF8buYNkhhgCuRokQE3YnSjvbjnFQiSx7UreitFq2iSERc7NRtUKIRcgUQinCxmTZ2WHsVm17OoGAG6fUYEKlGInjR0CFr0wmgQyIeEgAImLBdR7MCggNzGaJOJxAVqgoJChI6B8oGhLoH8bu5N4pNB8Va/GlqA8tMTJ0G/dOoUepZbCMCOX/TYouwnSiGiHTwHUzKaK1w7DBk5Hc9lpDh1xGbHiVUK1B8P0QzjRsCGYnB9yH2FdcoRgvFRFiYo1JwtjttB93k/1XH2An949z5Ocgyk+txzZWHw+iQbOxfKEaiZLCme7Otu3KrdN8s3UT3uHxsDs/nzD2x55nWEu14fJQOaqGOwuJgBPUlbpLrzgeL1GNZsvkSAQfxRixQpkSDsYzjN2lieEdwe7wktC9gdj6VxB8+7FbXn9E178dJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEbh/zxJt0GSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFP6fkFi3HihDlJJwZj4zMiIkOk5g6kkc3nMAHUD0cQmxQd+vO9xoo1LLlNgoLabSYvrTiyBRgyWLUFROWMQpMQRRahUGGb/z5Gq8bU/4JssKcItoGYb7tMZE1AlCBZISMyalhUznkKhG0exkBNOqRokmiKGaBhKBGqDwLxswQDJAAAa0QEW4WKtarA1houWYUp8RTaSVyTGZkggJ21aENU+QMVI34qG4vQmr3Ygd24x4FHHwQIMfuyTGpcKUhkHAQYrULY0kqUbQ2qNW8lobSqy1ES+Sa1oaCVIsr6URo5DzWxpwHltDR4snSvUToT9vmhQbzcNPlBKyhMGQoFrRMPQGMCBWreyki5Z3totWS1JSldjwAUlyDLRBtFzC6EqfpJFjhD6xQD5Mvd+gts5DxBiq5gsxYcuqSJQmavTPgJD1dzxtEI9kY12FT0FVXdImi+U6faJaPCyjRe0gVqOq9BxEmYg/L5lSapgxO7wjCeYUjWIYqpCjSqnehWbowVNoo7c16JNk0py2HTaGDphbixpfOdRGXQ4UH+KxUAx3YlUNJPrsWkcQOV2/w2yJpim8xhLtni1tdyLqM6JtZfCjEF5eut1qbXj8Ohbqc0J2BBzCEF/D5m16XxFyHwCauwT1nj4jS904dIvLZJju0ve5t2Sna/fCJSqnhYkA7TZM+GVLwp3RRmf1Umf/UYMWtG5HoNTK5fpzyuYiVKuUaDrsBjHmb0gTX0JtHh/o8JxBdMt60KWR1PK4iSGYa+QyMaJJk8fjC5bSjseM6CNmHAALohHHbxPbQqpGtap2KnOUOD5nqEUxybiT7kgdvuiEWgyNRZSIGj/ORmQ/SWUopdY6Y1yD98QppIz/hfFTtWp5u4JMTH57jUAjbV+0zYVyLEUobaezEyPQDynA4jQjUgTxhrJgaVC3M7bKQdWFUXKZ1DBT9rrBjzCo8dmVINlCLVEXrPIQNdaFeZpB3d7cRiQlTqe1mVy6ziE6tqUDTyMBVeJ3KwxVweKvQdpOnLUcTmQnLU1EFJhOehs1XkY6qIkdNEjnhy/nyCegVe8MgP4RmhBtGtHM1k/RZHitgiIczj1YSUw/Az0ApflicyOgEacEx/MEsN0E7IgWkEzH/ZqvgC8BzdLS0sqSZmVFo9tY29Bd7Gk0e5ceTk4uTk496DQCdNonQLG1sbG1s3Wws3NwtrOzc8Z/7Jx1LvTuBGjeD+iWMPnJVAoTmNApVDqluQ4O1LL5MCUSZmlGIaCfOCqgmJiamVtYWlnbUDp2UoAJ1dDpACimFKqJqYmZhbmlGZU2BHbSqab9Hf3NokYLnZi5MwLMnRf8sCl6gIdL0gHRkED1zBqehWdZ8pP6p2INx/XHzbMG8hemSGIOrsaC3M6k3kT+/uPLQ2e1t54N91q0pmjL4sPnbj+v2HrkfMOLtOy8r5b8tO3ohTsvg2PTpfnFS9duP1Z79xUdmJjAbE2JnCzMzThECv39HU1hBrlMJ7OAGQuc8QwOJNU8GeIhqlfPLOMlu4g1gU89zfEELAZyDp6BSax2k8SkBmHIzZYUPp6BV2sKzZcBjUpw0kEkeBHkv3jT1gunj/qZb93gAHpxNuQkxXksWlMW5+ntURb3WZxHWVJZB0Vy8+kXKZ8yIBTNoLmm1Yy378297Lde8q/ejs1c5xcxXc0UURz48wMX1fblmV54GJ4n/9zuizXD7N745jetyygvHq2R79zg4/c6MvbywynNYOejjYd5Ai9s01pVcQ7H3W7E2bg6zpamkjPmvweVXL8UN6IyR+jwt69Qkbt3/71gN86+x6uf/1qIXs4Mswp1mdF7ji/d3bNHauIyMf/B57baxW63xBd5K5P7RJk6WjBCV3/4+mpZGafqC95l3rf1rAGJUU3lfsCyF2V/QtkiOJQKOADv5jPdG/PZ7pmd657Z+e6ZXeieWW33zLr5dC8RFac/sccy8X2Gbzh7EAUk8INbBD+2GfDzOwfKGLw0hKQiPog/bcEAPPjHAAHAD/iDQH0po5ZG8aNjTBzw/w+CqWOTojLGZIxlWFTDLwqqbpsLxRpVVGJiPC4rdSW5LWCQlxd0L46zLDwWMA5mYkgM7/jXa4AE0eAvUvxLSpqPqaCeMg7KzqKJhIwP03liShL8aqV8CUszDYOvLjwID1VNImo8A/9XFwzdUe3kSRoMUWgYcUoxqlahhre6ngOHbdvDz+B/GPg84ve289Oqa4VYq84jBJ2RA3xEfmAYfIBCMA0W6iPgEcWNwqdoKT9Trpm4miSZlJqcpjpRM6g/UB+ZhprONr1s5mtWZHbNPNR8iflLi3SL3ZZMy7mWz62EVqeto6y32HjbrKL1oi22dbQts3OyW2Lfx361g4/DDnoM/Zwj4vgvpxJnD+e9Lukuz13L3ALczvUo6One82gvtHfv3n/2yevr1fey+zf9+P3eMbb2z2X6MhsHbPBQeQZ6vh54wGvuoFRvpveTf+wfXOaDsLi+dN8H7MN+q/ynBIwbEh7Yj0Pl3A86HbwzZE1oKXfqUEVYVvjoiJjIocOGRPlED+Qx+YyYfsMZsQNGeMWxPgscGRYfK0hO+HwUmjht9IKkiuRdKTWp99NNxrhncMeO+WfBuOWZe7JufG4uZInSxNMl65FLUsucEJlsQvnEGoWFMhItUG3ObdIMxiZof8l7VMCehBXumkyZ8tnUxdPqZ/jOnDyrqsj9q9ziI3N6z1V/faLE85sZ8+sWhJV9t/D94vFLDi0btHz+t69WfF5+YmXwqoofnVcXrXn5k2zttXUpv5xYz9+w77fQ37dtDvxjy9bAbdt3cHdW7o7ZU7UvrfLGAfnB14eLj7od+/mvocdPnRRXvakuqxl85sg54fkPtSsuhV2uuzrt2oDrf9Yrb7nerrwju+d8/8BDtLFf0+knM//mPHvwYtWr9NcOb46/K/oQ1dw8PXK/Q4iHq63Fl9HCxB2SoL72s/mi0SFr0lhu84aLR++4nRfer3SEJCnUY4nAa9FnSNJOybZM9rL47OTQNRcUwSsSpMk7b7+cErkqMSeF6+laErtq/zrnXUhQ+aifUyakcivSNqSvT5uYuqshb+/438fI04Z6LqlKq8hoTNuNbKtDd4xTpg+tuNCYvycLTd/d8PL9pC3Xn4wJG+hmW3xYlDtmT3Zw3/l/StQZoRcsvJeezNZk7LmTH77ydA42NnzgUoHtCdmLsXuzt2f+dlGe98/wn2oV21d\"\
            } }"
      x-accepts: application/json
  /v6/chargebacks/acknowledge:
    put:
      description: |-
        Issuers and acquirers use this endpoint to acknowledge a chargeback or second presentment. Acknowledging a chargeback or second presentment moves the claim from the Unworked queue to the Worked queue. Acknowledging the chargeback or second presentment does not close the claim. Issuers and acquirers may take further actions on acknowledged claims.

         Note: for efficient processing, issuers and acquirers should send 100 acknowledgments or fewer in a single request.
      operationId: acknowledgeChargebacks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargebackMarkProcessedRequest'
        description: Chargeback Receiver information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackMarkProcessedResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks
      x-testable: false
      x-action: Acknowledge Received Chargebacks
      x-samples:
      - name: acknowledge_chargeback_sample
        request:
          application/json: "{\"chargebackList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"300002063556\"}]}"
        response:
          application/json: "{\"chargebackResponseList\": [{\"chargebackId\": \"300002063556\"\
            ,\"status\": \"PROCESSED\",\"failureReason\": null}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/chargebacks/status:
    put:
      description: |-
        Issuers and acquirers use this endpoint to search for the status of documents of a specific list of claim IDs and chargeback IDs.

         Note: issuers and acquirers may send a maximum of 2,000 chargeback IDs within a single request.
      operationId: retrieveChargebackStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargebackStatusRequest'
        description: Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks
      x-testable: false
      x-action: Chargebacks Status
      x-samples:
      - name: chargeback_status_sample
        request:
          application/json: "{\"chargebackList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"12344\"}]}"
        response:
          application/json: "{\"chargebackResponseList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"12344\", \"status\": \"COMPLETED\"}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/chargebacks/imagestatus:
    put:
      description: |-
        Issuers and acquirers use this endpoint to search for documents that have a specific status (completed, pending, failed, unavailable, and document not applicable) for chargebacks.

         Note: For customers with high volumes of chargebacks or large numbers of BINs, Mastercom recommends using the Chargebacks Status endpoint rather than the Chargebacks Image Status endpoint.
      operationId: retrieveChargebackImageStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargebackImageStatusRequest'
        description: Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackImageStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks
      x-testable: false
      x-action: Chargebacks Image Status
      x-samples:
      - name: chargeback_image_status_sample
        request:
          application/json: "{\"status\" : \"COMPLETED\", \"startDate\" : \"2018-10-01\"\
            , \"endDate\" : \"2018-10-30\"}"
        response:
          application/json: "{\"chargebackImageStatusList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"12344\", \"status\": \"COMPLETED\"}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/debitmc:
    post:
      description: |-
        Issuers use this endpoint to create chargebacks for Debit Mastercard or Europe Dual Acquirer transactions and optionally to upload supporting documents. Issuers should only use this endpoint when the transaction has a single-message issuer, dual-message acquirer, and a transaction without a PIN.

         Note: If the API call to this endpoint times out, customers should use the Chargeback Status or Retrieve Claim endpoint to determine the success or failure of document processing.
      operationId: createChargebackDebitMC
      parameters:
      - description: |-
          Claim Id where the chargeback will be added.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Create Chargeback:
                $ref: '#/components/examples/CreateChargebackSingle'
              Create Chargeback with Type:
                $ref: '#/components/examples/CreateChargebackSingleType'
            schema:
              $ref: '#/components/schemas/CreateChargebackSingleRequest'
        description: Create Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackResponse'
          description: OK
      tags:
      - Chargebacks (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Create
      x-samples:
      - name: create_chargeback_debitmc_sample
        request:
          application/json: "{  \"claim-id\": \"12344\", \"replacementAmount\": \"\
            100.00\", \"controlNumber\" : \"99999\", \"usageCode\" : \"1\",  \"reversalReasonCode\"\
            : \"07\",  \"brand\": \"PV\", \"refundNotReceivedIndicator\": \"true\"\
            \ }"
        response:
          application/json: "{\"chargebackId\": \"30077331352\" }"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/debitmc/{chargeback-id}/reversal:
    post:
      description: |-
        Issuers use this endpoint to reverse an existing Debit Mastercard or Europe Dual Acquirer chargeback when they create a chargeback in error.

         Note: issuers may only create reversals on chargebacks after the chargebacks are processed by Mastercard Debit Switch (MDS).
      operationId: createChargebackReversalDebitMC
      parameters:
      - description: |-
          Claim Id for the chargeback.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Chargeback Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "300018439680"
        explode: false
        in: path
        name: chargeback-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChargebackSingleReversalRequest'
        description: Create Chargeback Reversal information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackResponse'
          description: OK
      tags:
      - Chargebacks (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Create Reversal
      x-samples:
      - name: create_chargeback_debitmc_reversal_sample
        request:
          application/json: "{  \"claim-id\": \"12344\", \"chargeback-id\": \"300002063556\"\
            , \"reversalReasonCode\" : \"82\", \"replacementAmount\" : \"100.00\"\
            , \"controlNumber\" : \"99999\"}"
        response:
          application/json: "{\"chargebackId\": \"30077331352\" }"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/debitmc/{chargeback-id}:
    put:
      description: |-
        Issuers use this endpoint to update an existing Debit Mastercard or Europe Dual Acquirer chargeback with memos or documents if they did not attach memos or documents when creating the chargeback.

         Note: If the API call to this endpoint times out, customers should use the Chargeback Status or Retrieve Claim endpoint to determine the success or failure of document processing.
      operationId: updateChargebackDebitMC
      parameters:
      - description: |-
          Claim Id for the chargeback.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Chargeback Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "300018439680"
        explode: false
        in: path
        name: chargeback-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update with File Attachment:
                $ref: '#/components/examples/UpdateChargebackFile'
              Update with Credit Voucher:
                $ref: '#/components/examples/UpdateChargebackVoucher'
            schema:
              $ref: '#/components/schemas/UpdateChargebackRequest'
        description: Update Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Update
      x-samples:
      - name: update_chargeback_debitmc_sample
        request:
          application/json: "{  \"claim-id\": \"12344\", \"chargeback-id\": \"300002063556\"\
            , \"memo\": \"This is a test memo\", \"fileAttachment\" : {  \"filename\"\
            \ : \"test.tif\",  \"file\": \"sample file\" }}"
        response:
          application/json: "{\"chargebackId\": \"300002063556\" }"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/chargebacks/debitmc/{chargeback-id}/documents:
    get:
      description: Issuers and acquirers use this endpoint to retrieve documents in
        a desired format associated with any type of chargeback.
      operationId: getChargebackDocDebitMC
      parameters:
      - description: |-
          The Claim Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Chargeback Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "300002063556"
        explode: false
        in: path
        name: chargeback-id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          File format.

           Length: 8-11

           Valid Values/Format: ORIGINAL, MERGED_TIFF, MERGED_PDF
        example: ORIGINAL
        explode: true
        in: query
        name: format
        required: true
        schema:
          enum:
          - ORIGINAL
          - MERGED_TIFF
          - MERGED_PDF
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseStructure'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Retrieve Documentation
      x-samples:
      - name: retrieve_chargeback_debitmc_doc_sample
        request:
          application/json: "{  \"format\": \"ORIGINAL\",  \"claim-id\": \"1234\"\
            ,  \"chargeback-id\": \"92344\"}"
        response:
          application/json: "{\"fileAttachment\" : {  \"filename\" : \"CB_92344.zip\"\
            ,  \"file\": \"UEsDBBQAAAAIAFqJLExsuevPiCkAAPjiAAASAAAAdGVzdEltYWdlX2dyZXkudGlm7Fx5WFPXtt8hzIQhjI4YI4hcCQEkDJFBSBCpBJFRvILNcAjRJCckJ4DU2VLUSkWcW6m2Sq2t2mqdJ5xtVUSccEJFxRnUOl1H3j4nCbM+8t6773vf986P7+SsvfZa67f2Pnuvc/7ZxMX9A1gCAFzAB2AKKEAPCpWQX1pBUS/fpgFgopdxD6peNoOXuV7GLzrFFPSHd2vYcGyjd2kju+rlbHi56e2/gYpeFDNC72gCQG+93AvKg/T2UAT+FBPAhHcmbARA2RnKfCiHt7HZY0IBkiAAxsBG3FcUMBPmvicEAFmxbownbwKgKbYApVQAImJ0Qz41Av4IYMzRAEhSAViSAcCfmQC8EQLgAxNVqQGgTYf2X0J5NgA/zgPgXCkc+2IAQpYDMKEcgBU/wDgVMM4vMM5GGGczjLMNxtkF4+yDcQ4BkHUMgNITABysBuD5WQAGXoR5XgVg7g3oY/rxiwfHsMJWJ/+7rig4X/uPsoCDV+s9SoKKEEZiDoqhmhxUxeDxGAF+/oGMQekypQTN13gD2Azh+vlz/QMY/kO4/n5cjh8IiyxQCcUTEYwhQqQyZTjz8e5KJkMmCWemcwR+AhUPyZGNKFQjyYUJKeLCieJQCTMywjqsgFugUCkQTMgoUMiVGm5BOFOI83OhjKvZTAZhgk0MZ+oSGyNIZPBQNcLg+AaxxHhiwaG+/pyg4NBgHyJRtl8IO8CP5RfK5Qzh+gUw9GBGWMPfMLUkm5vEH66ng61wZg6Gqbhsdn5+vm/+EF9ULWX7h4aGsv0C2AEBLGjB0kxSYsICllIzQBfEEIePaMRqmQqToUoG3haKUC0WzmRaM9pAPy6FqoVIqfElxugrRhXsAqGK7e/rx+7KSSJu8VFp1XIiNYmYjcgRBaLENNDPn/0RMoHg03QKRZeeGiwmD/u0pyZlkgphJyEaVKsWIzF5MJMBXYVSGRZQ1+FaunWjj2iNEAbT5/LUiBBD1SkoKo/4TxdkGLujS1fRED68IvC1y/LzZ/kHpBjWLssviOvnF8buYNkhhgCuRokQE3YnSjvbjnFQiSx7UreitFq2iSERc7NRtUKIRcgUQinCxmTZ2WHsVm17OoGAG6fUYEKlGInjR0CFr0wmgQyIeEgAImLBdR7MCggNzGaJOJxAVqgoJChI6B8oGhLoH8bu5N4pNB8Va/GlqA8tMTJ0G/dOoUepZbCMCOX/TYouwnSiGiHTwHUzKaK1w7DBk5Hc9lpDh1xGbHiVUK1B8P0QzjRsCGYnB9yH2FdcoRgvFRFiYo1JwtjttB93k/1XH2An949z5Ocgyk+txzZWHw+iQbOxfKEaiZLCme7Otu3KrdN8s3UT3uHxsDs/nzD2x55nWEu14fJQOaqGOwuJgBPUlbpLrzgeL1GNZsvkSAQfxRixQpkSDsYzjN2lieEdwe7wktC9gdj6VxB8+7FbXn9E178dJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEbh/zxJt0GSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFEgSo0CSGAWSxCiQJEaBJDEKJIlRIEmMAkliFP6fkFi3HihDlJJwZj4zMiIkOk5g6kkc3nMAHUD0cQmxQd+vO9xoo1LLlNgoLabSYvrTiyBRgyWLUFROWMQpMQRRahUGGb/z5Gq8bU/4JssKcItoGYb7tMZE1AlCBZISMyalhUznkKhG0exkBNOqRokmiKGaBhKBGqDwLxswQDJAAAa0QEW4WKtarA1houWYUp8RTaSVyTGZkggJ21aENU+QMVI34qG4vQmr3Ygd24x4FHHwQIMfuyTGpcKUhkHAQYrULY0kqUbQ2qNW8lobSqy1ES+Sa1oaCVIsr6URo5DzWxpwHltDR4snSvUToT9vmhQbzcNPlBKyhMGQoFrRMPQGMCBWreyki5Z3totWS1JSldjwAUlyDLRBtFzC6EqfpJFjhD6xQD5Mvd+gts5DxBiq5gsxYcuqSJQmavTPgJD1dzxtEI9kY12FT0FVXdImi+U6faJaPCyjRe0gVqOq9BxEmYg/L5lSapgxO7wjCeYUjWIYqpCjSqnehWbowVNoo7c16JNk0py2HTaGDphbixpfOdRGXQ4UH+KxUAx3YlUNJPrsWkcQOV2/w2yJpim8xhLtni1tdyLqM6JtZfCjEF5eut1qbXj8Ohbqc0J2BBzCEF/D5m16XxFyHwCauwT1nj4jS904dIvLZJju0ve5t2Sna/fCJSqnhYkA7TZM+GVLwp3RRmf1Umf/UYMWtG5HoNTK5fpzyuYiVKuUaDrsBjHmb0gTX0JtHh/o8JxBdMt60KWR1PK4iSGYa+QyMaJJk8fjC5bSjseM6CNmHAALohHHbxPbQqpGtap2KnOUOD5nqEUxybiT7kgdvuiEWgyNRZSIGj/ORmQ/SWUopdY6Y1yD98QppIz/hfFTtWp5u4JMTH57jUAjbV+0zYVyLEUobaezEyPQDynA4jQjUgTxhrJgaVC3M7bKQdWFUXKZ1DBT9rrBjzCo8dmVINlCLVEXrPIQNdaFeZpB3d7cRiQlTqe1mVy6ziE6tqUDTyMBVeJ3KwxVweKvQdpOnLUcTmQnLU1EFJhOehs1XkY6qIkdNEjnhy/nyCegVe8MgP4RmhBtGtHM1k/RZHitgiIczj1YSUw/Az0ApflicyOgEacEx/MEsN0E7IgWkEzH/ZqvgC8BzdLS0sqSZmVFo9tY29Bd7Gk0e5ceTk4uTk496DQCdNonQLG1sbG1s3Wws3NwtrOzc8Z/7Jx1LvTuBGjeD+iWMPnJVAoTmNApVDqluQ4O1LL5MCUSZmlGIaCfOCqgmJiamVtYWlnbUDp2UoAJ1dDpACimFKqJqYmZhbmlGZU2BHbSqab9Hf3NokYLnZi5MwLMnRf8sCl6gIdL0gHRkED1zBqehWdZ8pP6p2INx/XHzbMG8hemSGIOrsaC3M6k3kT+/uPLQ2e1t54N91q0pmjL4sPnbj+v2HrkfMOLtOy8r5b8tO3ohTsvg2PTpfnFS9duP1Z79xUdmJjAbE2JnCzMzThECv39HU1hBrlMJ7OAGQuc8QwOJNU8GeIhqlfPLOMlu4g1gU89zfEELAZyDp6BSax2k8SkBmHIzZYUPp6BV2sKzZcBjUpw0kEkeBHkv3jT1gunj/qZb93gAHpxNuQkxXksWlMW5+ntURb3WZxHWVJZB0Vy8+kXKZ8yIBTNoLmm1Yy378297Lde8q/ejs1c5xcxXc0UURz48wMX1fblmV54GJ4n/9zuizXD7N745jetyygvHq2R79zg4/c6MvbywynNYOejjYd5Ai9s01pVcQ7H3W7E2bg6zpamkjPmvweVXL8UN6IyR+jwt69Qkbt3/71gN86+x6uf/1qIXs4Mswp1mdF7ji/d3bNHauIyMf/B57baxW63xBd5K5P7RJk6WjBCV3/4+mpZGafqC95l3rf1rAGJUU3lfsCyF2V/QtkiOJQKOADv5jPdG/PZ7pmd657Z+e6ZXeieWW33zLr5dC8RFac/sccy8X2Gbzh7EAUk8INbBD+2GfDzOwfKGLw0hKQiPog/bcEAPPjHAAHAD/iDQH0po5ZG8aNjTBzw/w+CqWOTojLGZIxlWFTDLwqqbpsLxRpVVGJiPC4rdSW5LWCQlxd0L46zLDwWMA5mYkgM7/jXa4AE0eAvUvxLSpqPqaCeMg7KzqKJhIwP03liShL8aqV8CUszDYOvLjwID1VNImo8A/9XFwzdUe3kSRoMUWgYcUoxqlahhre6ngOHbdvDz+B/GPg84ve289Oqa4VYq84jBJ2RA3xEfmAYfIBCMA0W6iPgEcWNwqdoKT9Trpm4miSZlJqcpjpRM6g/UB+ZhprONr1s5mtWZHbNPNR8iflLi3SL3ZZMy7mWz62EVqeto6y32HjbrKL1oi22dbQts3OyW2Lfx361g4/DDnoM/Zwj4vgvpxJnD+e9Lukuz13L3ALczvUo6One82gvtHfv3n/2yevr1fey+zf9+P3eMbb2z2X6MhsHbPBQeQZ6vh54wGvuoFRvpveTf+wfXOaDsLi+dN8H7MN+q/ynBIwbEh7Yj0Pl3A86HbwzZE1oKXfqUEVYVvjoiJjIocOGRPlED+Qx+YyYfsMZsQNGeMWxPgscGRYfK0hO+HwUmjht9IKkiuRdKTWp99NNxrhncMeO+WfBuOWZe7JufG4uZInSxNMl65FLUsucEJlsQvnEGoWFMhItUG3ObdIMxiZof8l7VMCehBXumkyZ8tnUxdPqZ/jOnDyrqsj9q9ziI3N6z1V/faLE85sZ8+sWhJV9t/D94vFLDi0btHz+t69WfF5+YmXwqoofnVcXrXn5k2zttXUpv5xYz9+w77fQ37dtDvxjy9bAbdt3cHdW7o7ZU7UvrfLGAfnB14eLj7od+/mvocdPnRRXvakuqxl85sg54fkPtSsuhV2uuzrt2oDrf9Yrb7nerrwju+d8/8BDtLFf0+knM//mPHvwYtWr9NcOb46/K/oQ1dw8PXK/Q4iHq63Fl9HCxB2SoL72s/mi0SFr0lhu84aLR++4nRfer3SEJCnUY4nAa9FnSNJOybZM9rL47OTQNRcUwSsSpMk7b7+cErkqMSeF6+laErtq/zrnXUhQ+aifUyakcivSNqSvT5uYuqshb+/438fI04Z6LqlKq8hoTNuNbKtDd4xTpg+tuNCYvycLTd/d8PL9pC3Xn4wJG+hmW3xYlDtmT3Zw3/l/StQZoRcsvJeezNZk7LmTH77ydA42NnzgUoHtCdmLsXuzt2f+dlGe98/wn2oV21d\"\
            \ } }"
      x-accepts: application/json
  /v6/chargebacks/debitmc/acknowledge:
    put:
      description: |-
        Issuers and acquirers use this endpoint to acknowledge a chargeback or second presentment. Acknowledging a chargeback or second presentment moves the claim from the Unworked queue to the Worked queue. Acknowledging the chargeback or second presentment does not close the claim. Issuers and acquirers may take further actions on acknowledged claims.

         Note: for efficient processing, issuers and acquirers should send 100 acknowledgments or fewer in a single request.
      operationId: acknowledgeChargebacksDebitMC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargebackMarkProcessedRequest'
        description: Chargeback Receiver information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackMarkProcessedResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Acknowledge Received Chargebacks
      x-samples:
      - name: acknowledge_chargeback_debitmc_sample
        request:
          application/json: "{\"chargebackList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"300002063556\"}]}"
        response:
          application/json: "{\"chargebackResponseList\": [{\"chargebackId\": \"300002063556\"\
            ,\"status\": \"PROCESSED\",\"failureReason\": null}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/chargebacks/debitmc/status:
    put:
      description: |-
        Issuers and acquirers use this endpoint to search for the status of documents of a specific list of claim IDs and chargeback IDs.

         Note: issuers and acquirers may send a maximum of 2,000 chargeback IDs within a single request.
      operationId: retrieveChargebackStatusDebitMC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargebackStatusRequest'
        description: Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Chargebacks Status
      x-samples:
      - name: chargeback_status_debitmc_sample
        request:
          application/json: "{\"chargebackList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"12344\"}]}"
        response:
          application/json: "{\"chargebackResponseList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"12344\", \"status\": \"COMPLETED\"}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/chargebacks/debitmc/imagestatus:
    put:
      description: |-
        Issuers and acquirers use this endpoint to search for documents that have a specific status (completed, pending, failed, unavailable, and document not applicable) for chargebacks.

         Note: For customers with high volumes of chargebacks or large numbers of BINs, Mastercom recommends using the Chargebacks Status endpoint rather than the Chargebacks Image Status endpoint.
      operationId: retrieveChargebackImageStatusDebitMC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargebackImageStatusRequest'
        description: Chargeback information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackImageStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Chargebacks (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Chargebacks Image Status
      x-samples:
      - name: chargeback_debitmc_image_status_sample
        request:
          application/json: "{\"status\" : \"COMPLETED\", \"startDate\" : \"2021-01-03\"\
            , \"endDate\" : \"2021-01-18\"}"
        response:
          application/json: "{\"chargebackImageStatusList\" : [ {\"claimId\": \"200002020654\"\
            , \"chargebackId\": \"12344\", \"status\": \"COMPLETED\"}]}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims:
    post:
      description: |-
        Issuers use this endpoint to create a new claim, which is required before creating a retrieval request or a first chargeback. If an issuer attempts to create a duplicate claim on an original transaction, the issuer receives a error message with the claim ID of the existing claim. Acquirers are not able to create claims. They receive claims from disputes that issuers initiate.

         Note: issuers must have a first presentment in order to create a claim.

         Note: issuers cannot create claims on first presentments that acquirers have reversed.
      operationId: createClaim
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClaimRequest'
        description: Create Claim Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Claims
      x-testable: false
      x-action: Create
      x-samples:
      - name: create_claim_sample
        request:
          application/json: "{  \"disputedAmount\": \"100.00\",  \"disputedCurrency\"\
            : \"USD\",  \"claimType\": \"Standard\",  \"clearingTransactionId\": \"\
            hqCnaMDqmto4wnL+BSUKSdzROqGJ7YELoKhEvluycwKNg3XTzSfaIJhFDkl9hW081B5tTqFFiAwCpcocPdB2My4t7DtSTk63VXDl1CySA8Y=\"\
            }"
        response:
          application/json: "{\"claimId\": \"200002020654\"}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}:
    get:
      description: |-
        Issuers and acquirers use this endpoint to retrieve details for an existing claim, including any cases with which the claim is associated.

         Note: the Retrieve endpoint for claims contains document statuses (completed, pending, failed, unavailable, and document not applicable) for all documents attached to dispute events within a claim. Issuers and acquirers do not have to make a separate call to obtain document statuses, making the use of this endpoint efficient.
      operationId: getClaimDetail
      parameters:
      - description: |-
          Claim Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimDetail'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Claims
      x-testable: false
      x-action: Retrieve
      x-samples:
      - name: get_claim_sample
        request:
          application/json: "{\"claim-id\": \"200002020654\"}"
        response:
          application/json: "{ \"acquirerId\": \"002222\", \"acquirerRefNum\": \"\
            55306608112341123451234\", \"primaryAccountNum\": \"52751494691484000\"\
            , \"claimId\": \"200002000191\", \"claimType\": \"Standard\", \"claimValue\"\
            : \"123.28 USD\", \"standardClaims\": null, \"clearingDueDate\": \"2017-12-14\"\
            , \"clearingNetwork\": \"GCMS\", \"createDate\": \"2017-10-27\", \"dueDate\"\
            : \"2017-12-11\", \"transactionId\": \"g1f4kmlMcfQaLHtRX+WWB2TfOiyAIO0ZrxZ2zJ226sQuH6EsoypShLUwzD95i2QeIxoHYh7qrAqy9qMdbmDgw==\"\
            , \"isAccurate\": \"true\", \"isAcquirer\": \"true\", \"isIssuer\": \"\
            false\", \"isOpen\": \"true\", \"issuerId\": \"001111\", \"lastModifiedBy\"\
            : \"user1234\", \"lastModifiedDate\": \"2017-11-13\", \"merchantId\":\
            \ \"0024038000200\", \"queueName\": \"Pending\", \"switchSerialNumber\"\
            : null, \"retrievalDetails\": { \"acquirerRefNum\": \"55306608112341123451234\"\
            , \"acquirerResponseCd\": \"D\", \"acquirerMemo\": \"This is an example\
            \ memo RF1.\", \"acquirerResponseDt\": \"2018-01-29\", \"amount\": \"\
            196.42\", \"currency\": \"PLN\", \"claimId\": \"200002000191\", \"issuerResponseCd\"\
            : \"REJECT_DOCUMENTATION_NOT_AS_REQUIRED\", \"issuerRejectRsnCd\": \"\
            02\", \"issuerMemo\": \"This is an example memo RFJ.\", \"issuerResponseDt\"\
            : \"2018-01-29\", \"imageReviewDecision\": \"I\", \"imageReviewDt\": \"\
            2018-01-29\", \"primaryAcctNum\": \"52751494691484000\", \"requestId\"\
            : \"200002000151\", \"retrievalRequestReason\": \"6305\", \"docNeeded\"\
            : \"1\", \"createDate\": \"2017-10-30\", \"chargebackRefNum\": \"2000000000\"\
            , \"cancelDate\": null, \"rejectDate\": null, \"reverseDate\": null, \"\
            acquirerResponseNotificationStatus\": \"Processed\", \"rejectReason\"\
            :\"Code1=0142(00):D0063/002;DE072=D0063\\\\8000000808\\\\\\\\\", \"instructionsForHealthcare\"\
            : \"Instructions for Healthcare\", \"flexCode\": \"003\", \"collaborationExpirationDateTime\"\
            : \"2023-05-11T19:22:41\"}, \"chargebackDetails\": [ { \"currency\": \"\
            USD\", \"documentIndicator\": \"false\", \"messageText\": \"AUTHORIZATION\
            \ DECLINED MMDDYY\", \"amount\": \"196.43\", \"reasonCode\": \"4808\"\
            , \"isPartialChargeback\": false, \"chargebackType\": \"CHARGEBACK\",\
            \ \"chargebackId\": \"200002000151\", \"claimId\": \"200002000191\", \"\
            reversed\": false, \"reversal\": false, \"createDate\": \"2017-10-27\"\
            , \"chargebackRefNum\": \"2000000000\", \"documentStatus\": \"DOC_NOT_APPLICABLE\"\
            , \"rejectReason\":\"Code1=5000(00):D0025/000;DE072=D0025\\\\0000\\\\\\\
            \\\", \"reconciliationAmount\": \"196.43\", \"reconciliationCurrency\"\
            : \"PLN\", \"editExclusionCode\": \"BO\", \"refundNotReceivedIndicator\"\
            : \"true\", \"creditVoucherStatus\": \"Credit Voucher Accepted\", \"currencyConversionAssessmentCCAIncluded\"\
            : \"true\", \"currencyConversionAssessmentCCAAmount\": \"20.00 USD\",\
            \ \"japanCommonMerchantCode: \"0410\", \"installmentData\": \"1261610E81023498764532103\"\
            , \"flexCode\": \"003\"}, { \"currency\": \"USD\", \"documentIndicator\"\
            : \"false\", \"messageText\": null, \"amount\": \"196.43\", \"reasonCode\"\
            : \"2001\", \"isPartialChargeback\": false, \"chargebackType\": \"SECOND_PRESENTMENT\"\
            , \"chargebackId\": \"200002000151\", \"claimId\": \"200002000191\", \"\
            reversed\": false, \"reversal\": false, \"createDate\": \"2017-11-08\"\
            , \"chargebackRefNum\": \"2000000000\", \"documentStatus\": \"DOC_NOT_APPLICABLE\"\
            , \"rejectReason\":\"Code1=5000(00):D0025/000;DE072=D0025\\\\0000\\\\\\\
            \\\", \"reconciliationAmount\": null, \"reconciliationCurrency\": null,\
            \ \"editExclusionCode\": \"BO\", \"currencyConversionAssessmentCCAIncluded\"\
            : \"true\", \"currencyConversionAssessmentCCAAmount\": \"20.00 USD\",\
            \ \"japanCommonMerchantCode: \"0410\", \"installmentData\": \"1261610E81023498764532103\"\
            , \"flexCode\": \"003\"}, { \"currency\": \"USD\", \"documentIndicator\"\
            : \"false\", \"messageText\": null, \"amount\": \"61.64\", \"reasonCode\"\
            : \"4807\", \"isPartialChargeback\": false, \"chargebackType\": \"CHARGEBACK\"\
            , \"chargebackId\": \"200002000151\", \"claimId\": \"200002000191\", \"\
            reversed\": false, \"reversal\": false, \"createDate\": \"2017-10-30\"\
            , \"chargebackRefNum\": \"9000000006\", \"documentStatus\": \"DOC_NOT_APPLICABLE\"\
            , \"rejectReason\":\"Code1=5000(00):D0025/000;DE072=D0025\\\\0000\\\\\\\
            \\\", \"reconciliationAmount\": \"61.64\", \"reconciliationCurrency\"\
            : \"USD\", \"editExclusionCode\": \"BO\", \"currencyConversionAssessmentCCAIncluded\"\
            : \"true\", \"currencyConversionAssessmentCCAAmount\": \"20.00 USD\",\
            \ \"japanCommonMerchantCode: \"0410\", \"installmentData\": \"1261610E81023498764532103\"\
            , \"flexCode\": \"003\"} ], \"feeDetails\": [ { \"cardAcceptorIdCode\"\
            : \"Test ID\", \"cardNumber\": \"52751494691484000\", \"countryCode\"\
            : \"USA\", \"currency\": \"USD\", \"feeDate\": \"2018-02-07\", \"destinationMember\"\
            : \"001527\", \"feeAmount\": \"0.24\", \"creditSender\": \"true\", \"\
            creditReceiver\": \"false\", \"message\": \"00000013502000000135020626065946717713065946\"\
            , \"reason\": \"7623\", \"feeId\": \"300002002247\", \"chargebackRefNum\"\
            : null, \"reconciliationAmount\": \"0.21\", \"reconciliationCurrency\"\
            : \"USD\", \"rejectReason\":\"Code1=0142(00):D0063/002;DE072=D0063\\\\\
            8000000808\\\\\\\\\", \"japanCommonMerchantCode: \"0410\", \"installmentData\"\
            : \"1261610E81023498764532103\", \"flexCode\": \"003\" } ], \"caseFilingDetails\"\
            : { \"caseFilingStatus\": \"Closed\", \"caseFilingDetails\": { \"claimId\"\
            : \"200002000151\", \"claimType\": \"CaseFiling\", \"caseId\": \"9000000012\"\
            , \"caseType\": \"4\", \"chargebackRefNum\": [ \"1111423456,2222123456\"\
            \ ], \"currencyCode\": \"USD\", \"customerFilingNumber\": \"5482\", \"\
            disputeAmount\": \"50.00\", \"dueDate\": \"2017-12-11\", \"filingAgaintstIca\"\
            : \"5482\", \"filingAs\": \"A\", \"filingIca\": \"6000\", \"merchantName\"\
            : \"test name\", \"primaryAccountNum\": \"52751494691484000\", \"violationCode\"\
            : \"D.2\", \"violationDate\": \"2017-12-18\", \"rulingDate\": \"2018-01-24\"\
            , \"rulingStatus\": \"Favor Sender\", \"creditDate\": \"2018-11-01\",\
            \ \"chargebackDate\": \"2018-11-01\", \"reasonCode\": \"4853\", \"virtualAccountNum\"\
            : \"5123123424999876\" }, \"caseFilingRespHistory\": [ { \"memo\": \"\
            Sample Memo\", \"action\": \"FAVOR SENDER\", \"responseDate\": \"2018-01-24\"\
            \ }, { \"memo\": \"Sample Memo\", \"action\": \"REBUT\", \"responseDate\"\
            : \"2017-12-18\" }, { \"memo\": \"Sample Memo\", \"action\": \"ESCALATE\"\
            , \"responseDate\": \"2017-12-18\" }, { \"memo\": \"Sample Memo\", \"\
            action\": \"REJECT\", \"responseDate\": \"2017-12-18\" } ] }, \"retrievalDetailsList\"\
            : [ { \"acquirerRefNum\": \"55306608112341123451234\", \"acquirerResponseCd\"\
            : null, \"acquirerMemo\": null, \"acquirerResponseDt\": null, \"amount\"\
            : \"196.42\", \"currency\": \"PLN\", \"claimId\": \"200002000191\", \"\
            issuerResponseCd\": null, \"issuerRejectRsnCd\": null, \"issuerMemo\"\
            : null, \"issuerResponseDt\": null, \"imageReviewDecision\": null, \"\
            imageReviewDt\": null, \"primaryAcctNum\": \"52751494691484000\", \"requestId\"\
            : \"200002000151\", \"retrievalRequestReason\": \"6305\", \"docNeeded\"\
            : \"2\", \"createDate\": \"2017-10-30\", \"chargebackRefNum\": \"2000000000\"\
            , \"cancelDate\": null, \"rejectDate\": null, \"reverseDate\": null, \"\
            acquirerResponseNotificationStatus\": \"Pending\", \"rejectReason\":\"\
            Code1=0142(00):D0063/002;DE072=D0063\\\\8000000808\\\\\\\\\", \"instructionsForHealthcare\"\
            : \"Instructions for Healthcare\", \"collaborationExpirationDateTime\"\
            : \"2023-05-11T19:22:41\" }, { \"acquirerRefNum\": null, \"acquirerResponseCd\"\
            : \"D\", \"acquirerMemo\": \"This is an example memo RF1.\", \"acquirerResponseDt\"\
            : \"2018-01-29\", \"amount\": null, \"currency\": null, \"claimId\": null,\
            \ \"issuerResponseCd\": \"REJECT_DOCUMENTATION_NOT_AS_REQUIRED\", \"issuerRejectRsnCd\"\
            : \"02\", \"issuerMemo\": \"This is an example memo RFJ.\", \"issuerResponseDt\"\
            : \"2018-01-29\", \"imageReviewDecision\": null, \"imageReviewDt\": null,\
            \ \"primaryAcctNum\": null, \"requestId\": null, \"retrievalRequestReason\"\
            : null, \"docNeeded\": null, \"createDate\": null, \"chargebackRefNum\"\
            : null, \"cancelDate\": null, \"rejectDate\": null, \"reverseDate\": null,\
            \ \"acquirerResponseNotificationStatus\": \"Processed\", \"rejectReason\"\
            :\"Code1=0142(00):D0063/002;DE072=D0063\\\\8000000808\\\\\\\\\", \"instructionsForHealthcare\"\
            : \"Instructions for Healthcare\", \"collaborationExpirationDateTime\"\
            : \"2023-05-11T19:22:41\" } ] }"
      x-accepts: application/json
    put:
      description: Issuers use this endpoint to take an action (reopen or close) on
        an existing claim.
      operationId: Update Claim
      parameters:
      - description: |-
          Claim Id.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClaimRequest'
        description: Update Claim Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Claims
      x-testable: false
      x-action: Update
      x-samples:
      - name: update_claim_sample
        request:
          application/json: "{  \"claim-id\": \"200002020654\", \"action\": \"CLOSE\"\
            , \"closeClaimReasonCode\": \"10\"}"
        response:
          application/json: "{\"claimId\": \"200002020654\"}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/fees/loaddataforfees:
    post:
      description: Senders (issuers or acquirers) use this endpoint to obtain information
        about a potential fee collection associated with a claim.
      operationId: getDataForCreateFee
      parameters:
      - description: |-
          Claim Id for the Fee.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadDataForFeesRequest'
        description: Load Data For Fee Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadDataForFeeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Fees
      x-testable: false
      x-action: Get possible value lists for create
      x-samples:
      - name: get_data_for_create_fee_sample
        request:
          application/json: "{  \"claim-id\": \"200002020654\",\"reasonCode\":\"4853\"\
            }"
        response:
          application/json: "{\"currencies\":[{\"name\": \"USD\", \"value\": \"USD\"\
            \ }],\"reasonCodes\":[{\"name\": \"7604\", \"value\": \"7604 - Emergency\
            \ card replacement fee\" }],\"countryCodes\":[{\"name\": \"UNITED STATES\"\
            , \"value\": \"UNITED STATES\" }],  \"messageTexts\":[{\"name\": \"LOST/STOLEN\
            \ CARD TRANSACTION FEE\", \"value\": \"LOST/STOLEN CARD TRANSACTION FEE\"\
            \ }]  }"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/fee:
    post:
      description: |-
        Senders (issuers or acquirers) use this endpoint to create a fee collection for receivers (issuers or acquirers). Receivers use this endpoint to reply to a fee collection.

         Note: Senders should create fee collections using this endpoint only (a) when permitted by chargeback rules and (b) when the fee collections are related to disputes.
      operationId: createFee
      parameters:
      - description: |-
          Claim Id for the Fee item.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeeRequest'
        description: Create Fee Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Fees
      x-testable: false
      x-action: Create
      x-samples:
      - name: create_fee_sample
        request:
          application/json: "{  \"claim-id\": \"200002020654\",  \"cardAcceptorIdCode\"\
            : \"1\",  \"cardNumber\": \"500000000001234\",  \"countryCode\": \"USA\"\
            ,  \"currency\": \"USD\",  \"feeDate\": \"2017-02-11\",  \"destinationMember\"\
            : \"002083\",  \"feeAmount\": \"100.00\",  \"creditSender\": \"true\"\
            ,  \"creditReceiver\": \"false\",  \"message\": \"This is a test message\"\
            ,  \"reason\": \"7604\", \"replyFeeId\":\"300009520876\",\"mastercomControlNumber\"\
            :\"1589457\"}"
        response:
          application/json: "{ \"feeId\": \"20002052146\"}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/fee/debitmc:
    post:
      description: |-
        Senders (issuers) use this endpoint to create a fee collection for receivers (acquirers) for Mastercard Debit or Europe Dual Acquirer. Receivers use this endpoint to reply to a fee collection.

         Note: Senders should create fee collections using this endpoint only (a) when permitted by chargeback rules and (b) when the fee collections are related to disputes.
      operationId: createFeeDebitMC
      parameters:
      - description: |-
          Claim Id for the fee item.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeeRequestSingle'
        description: Create Fee Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeSingleResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Fees (Debit MasterCard and Europe Dual Acquirer)
      x-testable: false
      x-action: Create
      x-samples:
      - name: create_fee_debitmc_sample
        request:
          application/json: "{  \"claim-id\": \"200002020654\",  \"acquirerCustomerId\"\
            : \"003501\",  \"conditionIndicator\":\"A\",  \"controlNumber\": \"12345678901234567890\"\
            , \"declineDate\": \"013019\",  \"functionCode\": \"700\",  \"handlingFee\"\
            : \"20\", \"issuerCustomerID\": \"123456\",  \"reasonCode\": \"22\"}"
        response:
          application/json: "{ \"status\": \"Success\"}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/claims/{claim-id}/fraud/loaddataforfraud:
    get:
      description: Issuers use this endpoint to obtain fraud-related information associated
        with a claim before creating a fraud item for the claim.
      operationId: getDataForCreateFraud
      parameters:
      - description: |-
          Claim Id for the fraud item.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadDataForFraudResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Fraud
      x-testable: false
      x-action: Get possible value lists for create
      x-samples:
      - name: get_data_for_create_fraud_sample
        request:
          application/json: "{  \"claim-id\": \"200002020654\"}"
        response:
          application/json: "{\"acctDeviceTypes\":[{\"name\": \"1\", \"value\": \"\
            1 - Chip with PIN\" }],\"acctStatuses\":[{\"name\": \"N\", \"value\":\
            \ \"N - Account has not been closed\" }],\"cardValidCodes\":[{\"name\"\
            : \"M\", \"value\": \"M - CVC 2 Valid\" }],  \"subTypes\":[{\"name\":\
            \ \"N\", \"value\": \"N - PIN not used\" }]  }"
      x-accepts: application/json
  /v6/claims/{claim-id}/fraud/mastercard:
    post:
      description: |-
        An issuer uses this endpoint to create a new fraud item when the issuer determines that a transaction was fraudulent.

         Note: Mastercom allows issuers to create fraud items in the Fraud and Loss database. However, issuers must use the Fraud and Loss application to make further updates to fraud items.
      operationId: createFraudMasterCard
      parameters:
      - description: |-
          Claim Id for the fraud item.

           Length: 1-19

           Valid Values/Format: Numeric
        example: "200002020654"
        explode: false
        in: path
        name: claim-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFraudMasterCardRequest'
        description: Create Fraud MasterCard Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Fraud
      x-testable: false
      x-action: Create for MasterCard
      x-samples:
      - name: create_fraud_sample
        request:
          application/json: "{  \"claim-id\": \"200002020654\", \"deviceType\":\"\
            1\",\"acctStatus\":\"ACCT_IS_OPEN\",\"reportDate\":\"2017-02-11\",\"fraudType\"\
            :\"00\",\"subType\":\"K\",\"cvcInvalidIndicator\":\"Y\",\"chgbkIndicator\"\
            :\"1\"}"
        response:
          application/json: "{ \"fraudId\": \"300002292548\"}"
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /v6/healthcheck:
    get:
      description: This resource retrieves the status of the Mastercom API suite.
      operationId: healthcheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      tags:
      - Health Check
      x-testable: false
      x-action: Health Check
      x-samples:
      - name: healthcheck_sample
        request:
          application/json: "{}"
        response:
          application/json: "[{  \"status\": \"true\"  }]"
      x-accepts: application/json
  /v6/queues/names:
    get:
      description: An issuer or acquirer uses this endpoint to retrieve a list of
        queues.
[...]
